<html>

<head>




</head>

<body>

<h2> Choose your visit time </h2>



<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label >Your name </label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name" value="<%=@username%>">
  </div>

   <div class="form-group">
    <label >Visit day and time</label>
    <input  name="date" type="text" class="form-control" placeholder="Enter the date of your visit and time (dd/mm/yy hh/mm)" value="<%=@date%>">
  </div>

   <div class="form-group">
    <label >Phonenumber</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phonenumber" alue="<%=@phone%>>
  </div>

 	<div class="form-group">
    <label >Chose yor barber</label>
  	  <select class="form-control" name="barber">
		  <option>Mike</option>
		  <option>Wall Smith</option>
		  <option>Jerry Marry</option>
		  <option>FRank Jones</option>
      </select>

         <div class="form-group">
      <label >Color</label>
   
      <select id= "color" name="color">
        <option value="#7bd148">Green</option>
        <option value="#5484ed">Bold blue</option>
        <option value="#a4bdfc">Blue</option>
        <option value="#46d6db">Turquoise</option>
        <option value="#7ae7bf">Light green</option>
        <option value="#51b749">Bold green</option>
        <option value="#fbd75b">Yellow</option>
        <option value="#ffb878">Orange</option>
        <option value="#ff887c">Red</option>
        <option value="#dc2127">Bold red</option>
        <option value="#dbadff">Purple</option>
        <option value="#e1e1e1">Gray</option>
      </select>

     </div>
<p> 
</p>

 <button type="submit" class="btn btn-primary">Send data</button>

</form>

<script type="text/javascript">
$ (function(){
  $('#color').simplecolorpicker();
});
</script>

</body>

</html>