<html>

<head>




</head>

<h2> Choose your visit time </h2>



<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label >Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

   <div class="form-group">
    <label >Visit day</label>
    <input  name="date" type="text" class="form-control" placeholder="Enter the date of your visit dd/mm/yy">
  </div>

   <div class="form-group">
    <label >Visit time</label>
    <input name="time" type="text" class="form-control" placeholder="Enter the time of your visit">
  </div>

 <button type="button" class="btn btn-primary">Send data</button>

</form>

</html>