<html>

<head>




</head>

<body>

<h2> Choose your visit time </h2>



<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label >Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

   <div class="form-group">
    <label >Visit day and time</label>
    <input  name="date" type="text" class="form-control" placeholder="Enter the date of your visit and time (dd/mm/yy hh/mm)">
  </div>

   <div class="form-group">
    <label >Phonenumber</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phonenumber">
  </div>

 	<div class="form-group">
    <label >Chose yor barber</label>
  	  <select class="form-control" name="barber">
		  <option>Mike</option>
		  <option>Wall Smith</option>
		  <option>Jerry Marry</option>
		  <option>FRank Jones</option>
      </select>
<p> 
</p>


 <button type="submit" class="btn btn-primary">Send data</button>

</form>

</body>

</html>